body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: #e6e9ff; 
}
/*=============== sign css =================*/
.join_main{
    padding: 30px 40px;
	background: rgb(116, 91, 115);
    border-radius: 15px;
}
#divSignUp{
    max-width: 500px;
    color: white;
    margin: 50px auto;
    background-color: #6b4ea5;
    padding: 30px;
    box-shadow: 0 0 4px black;
    margin-top: 54px;
    border-radius: 15px;
}	
h1{
    text-align: center;
}
#divSignUp input , #btnSignUp{	
	/* width: 100%; */
    display: block;
    padding-left: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #fff;
}

/*=============== chat css ==========*/
.main{
    width: 40%;
    box-shadow: 2px 2px 20px -2px   #6c6c6c, 2px 2px 20px 2px #b9b9b9;
    border-radius: 8px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}
.container{
    max-width: 1200px;
    background-color: rgb(211, 233, 187);
    margin: auto;
    /* height: 388px; */
}

.strong{
    display: flex;
    justify-content: center;
    color: white;
}
#divUser{
    padding: 10px 8px;
    background-color: rgb(171, 76, 87);
    border-bottom: 1px solid black;
}
#messages{
    padding: 30px;
    height: 250px;
    background-color: rgb(211, 233, 187);
    overflow-y: scroll;
}
#user{
    color: #fff;
}
#dropContainer{
    background-color: rgb(171, 76, 87);
    height: 100px;
}
#formFileUpload{
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 5px;
}
#fileInput{
    color: rgb(3, 0, 0);
    margin: 2px;
}
input[type="file"]::-webkit-file-upload-button {
    border: none;
    background-color: #e7e7e7;
    padding: 10px 15px;
    border-radius: 5px;
}
input[type="file"]::-webkit-file-upload-button:hover{
    border: 1px solid #940000;
    background-color: rgb(86, 141, 31);
}
input#submit {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}
input#submit:hover{
    background-color: rgb(86, 141, 31);
    border: 2px solid white;
}
#formMessage{
  margin: 2px;
  display: flex;
  align-items: stretch;
  padding: 0 10px;
}
#m{
    width: 100%;
    border-radius: 4px 0px 0px 4px;
    border-style: none;
    padding: 10px 7px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
#m:hover{
    border: 2px solid #d54b14;;
    border-radius: 5px;
}
button{
    padding: 0  25px;
    border-radius: 0px 4px 4px 0px;
    border-style: none;
    background: #d54b14;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(86, 141, 31);
}
@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
#messages li{
    list-style: none;
    /* background-color: #79afac; */
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
}
#messages li:nth-child(Odd){
    text-align: right;
    color: #940000;
}
#messages li:nth-child(Even){
    text-align: left;
    color: #000500;
}
input{	
	margin-top:5px;
} 
label{
    color: white;
    font-size: 18px;
    font-weight: bold;
    
}
#txtUser{	
    margin-top: 3px;
    height: 34px;
    width: 220px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    margin-bottom: 5px;
} 
#btnSignUp{
    background: linear-gradient(359deg, #144441, #cfff5b, #ef968f, #ba623c);
    background-size: 800% 400%;
    padding: 8px;
    display: inline-block;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 700;
    color: #000000;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    cursor: pointer;
    user-select: none;
}
#btnSignUp:hover {
 animation: gradient 3s infinite;
 transform: scale(1.05);
}
#btnSignUp:active {
 animation: gradient 3s infinite;
 transform: scale(0.8);
}
